MLFLOW_TRACKING_URI=sqlite:///mlflow_tracking/mlflow.db
KAGGLE_USERNAME=your_kaggle_username
KAGGLE_KEY=your_kaggle_api_key
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_DEFAULT_REGION=us-east-1
PROMETHEUS_PORT=8001
API_PORT=8000
